<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <button @click="pushTodo">push todo</button>
      <ul class="todos">
        <li v-for="(todo, index) in todos" :key="index">{{ todo.title }}</li>
      </ul>

      <button @click="addHomepage">add Homepage property</button>
      <ul class="dobby">
        <li v-for="(value, key, index) in dobby" :key="index">
          {{key}} : {{value}}
        </li>
      </ul>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          todos: [
            {
              id: 0,
              title: "vue 공부",
            },
            {
              id: 1,
              title: "react 공부",
            },
            {
              id: 2,
              title: "nodejs 공부",
            },
          ],
          dobby: {
            name: "dobby",
            age: "33",
          },
        },
        methods: {
          pushTodo(todo) {
            // this.todos.push({ id: 3, title: "aws 공부" });
            // Vue.set(this.todos, 3, { id: 3, title: "aws 공부" });
            vm.$set(this.todos, 3, { id: 3, title: "aws 공부!" });
          },
          addHomepage() {
            this.$set(this.dobby, "homepage", "github.com/dobby");
          },
        },
      });
    </script>
  </body>
</html>
